.logo {
  margin-top: 2.75rem;
  margin-bottom: 1.75rem;
  color: #fff;
  font-size: 3.375rem;
  font-family: 'IBM Plex Mono', sans-serif;
}

.logo-txt {
  background: linear-gradient(#ca1515, #fb1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
