.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.875rem 0;
  align-items: center;
  justify-content: center;
}

.homeContainer h1 {
  margin-bottom: 0.875rem;
  color: #fff;
  font-size: 2.75rem;
  padding-top: 5.875rem;
}

.links {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.linkArea {
  background-color: #fff;
  width: 100%;
  margin-bottom: 1.125rem;
  padding: 8px 0;
  user-select: none;
  border-radius: 4px;
  transition: transform 0.4s;
}

.linkArea:hover {
  transform: scale(1.04);
}

.linkTxt {
  font-size: 1.125rem;
  line-height: 150%;
  color: #000;
}

footer {
  display: flex;
  justify-content: center;
  gap: 0.875rem;
  margin: 1.125rem 0;
}

@media screen and(max-width: 550px) {
  .homeContainer h1 {
    font-size: 2rem;
    text-align: center;
  }

  .linkTxt {
    font-size: 1rem;
  }
}

@media screen and(max-width: 360px) {
  .homeContainer h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .linkTxt {
    font-size: 0.875rem;
  }
}
